#part1 {
  margin-top: 76px;
  @include flex(column, center, center);
  position: relative;

  .bg_ellipses {
    position: absolute;
    width: 100%;
    top: 173px;
    height: 1283px;
    z-index: -1;
  }

  .header {
    font-weight: 800;
    font-size: 4rem;
    line-height: 76px;
    text-align: center;
    margin: 7.75rem 0 0;

    .pink {
      color: $jedi-pink;
    }
  }

  .desc {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.87rem;
    margin: 3rem;
  }

  .logos {
    margin-top: 5rem;
    @include flex(row, center, center, 100);
  }
  .orbits {
    position: relative;

    .eth {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      margin: auto;
      z-index: 1;
    }
    .ellipse {
      z-index: 0;
    }
  }

  .border {
    // padding: 1px;
    // background-color: white;

    .stats {
      @include flex(row, center, center, 60);
      width: 1120px;
      max-width: 100vw;
      padding: 4rem 0;
      background: url(.png),
        radial-gradient(
          90.16% 143.01% at 15.32% 21.04%,
          rgba(189, 35, 182, 0.2) 0%,
          rgba(26, 121, 185, 0.0447917) 77.08%,
          rgba(0, 17, 165, 0) 100%
        );
      opacity: 0.7;
      filter: drop-shadow(2px 16px 19px rgba(0, 0, 0, 0.09));
      border-radius: 8px;
      border: 1px solid grey;
      text-align: center;

      p {
        margin: 0;
      }

      .data {
        color: $jedi-white;
        font-size: 1.875rem;
        margin-bottom: 0.25rem;
        font-family: $font-family-primary;
        font-weight: 700;
        line-height: 100%;
      }
      .desc {
        font-family: $font-family-secondary;
        font-size: 0.875rem;
        color: $jedi-desc-text;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
  }
}
