/**
 * Variables
 * =================================
 * - Typography
 * - Breakpoints
 * - Paths
 * - Layout & Grid
 * - App-specific
 */

/**
 * Typography
 * =================================
 */

$font-family-primary: "Avenir LT Std", sans-serif;
$font-family-secondary: "DM Sans", sans-serif;

$font-size-base: 20px;
$font-size-rem: calc(($font-size-base / 16px) * 1rem);

$leading-base: 1.2;
$leading-base-in-percent: (1.2 * 100) * 1%;
$line-height-base: round($font-size-base * $leading-base); // 20 * 1.2
$baseline: $line-height-base * 1px;

// Useful to set here when bold webfonts come as 400 font-weight.
$font-weight-bold: bold;

/**
 *  Colors
 * =================================
 */

$jedi-white: #ffffff;
$jedi-black: #000201;
$jedi-magenta: #8c1186;
$jedi-blue: #0011a5;
$jedi-green: #012e20;
$jedi-dark-blue: #09072c;

$jedi-pink: #ff00e9;
$jedi-light-blue: #29aafd;

$jedi-button-gradient: linear-gradient(
  95.64deg,
  $jedi-light-blue 8.08%,
  $jedi-pink 105.91%
);

$jedi-button-gradient-reverse: linear-gradient(
  95.64deg,
  $jedi-pink 8.08%,
  $jedi-light-blue 105.91%
);

/**
 * Z-index variables
 * =================================
 */
$z-low: 10;
$z-mid: 100;
$z-high: 1000;
