button {
  font-family: $font-family-primary;
  cursor: pointer;
  border: none;

  &.primary-button {
    background: $jedi-button-gradient;
    font-size: $font-size-base * 1.2;
    font-weight: $font-weight-bold;
    line-height: 100%;
    text-align: center;
    padding: 20px 98px;
    border-radius: 8px;
    color: $jedi-white;
    display: block;

    &:hover,
    &:active {
      background: $jedi-button-gradient-reverse;
    }

    &.small-fonts {
      font-size: $font-size-base;
    }
  }
}
